<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VueJSDemo.Data.Properties.Settings.FirstDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=FirstDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>